<div class="container text-center">
	<div class="row rowtitle">
	  <div class="col">Tipo de Transacción</div>
	  <div class="col">Monto</div>
	  <div class="col">Origen</div>
	  <div class="col">Destino</div>
	</div>

	<div class="row rowcontent" *ngFor= "let transaction of transactions">
			<div class="col .col-sm-3 text-center"></div>
		  	<div class="col .col-sm-3 text-center"></div>
		  	<div class="col .col-sm-3 text-center"></div>
			<div class="col .col-sm-3 text-center"></div>
	</div>
</div>
