$sec-color: rgb(216, 216, 216);
$thi-color: rgb(110, 177, 110);
$letra-color: black;

.rowtitle
{
    background-color: $sec-color;
	color: $letra-color;
}

.rowcontent
{
    background-color: $thi-color;
    color: $letra-color;
}