<!-- <div class="container text-center">
	<div class="row rowtitle">
	  <div class="col" i18n>Tipo de Transacción</div>
	  <div class="col" i18n>Monto</div>
	  <div class="col" i18n>Origen</div>
	  <div class="col" i18n>Destino</div>
	</div>

	<div class="row rowcontent" *ngFor= "let transaction of transactions">
			<div class="col">{{transaction.type}}</div>
		  	<div class="col">{{transaction.amount}}</div>
		  	<div class="col">{{transaction.origin}}</div>
			<div class="col">{{transaction.destination}}</div>
	</div>
</div> -->
<div class="container mt-4">
  <h1>reservationes realizadas</h1>

  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Aula</th>
        <th scope="col">Amenidades del aula</th>
        <th scope="col">Fecha</th>
        <th scope="col">Hora de Inicio</th>
        <th scope="col">Hora de Fin</th>
        <th scope="col">Descripción</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let reservation of reservations">
        <td>{{reservation.classroom}}</td>
        <td>{{reservation.properties}}</td>
        <td>{{reservation.date}}</td>
        <td>{{reservation.start_time}}</td>
        <td>{{reservation.end_time}}</td>
        <td>{{reservation.description}}</td>
        <td><button class="btn btn-danger" (click)="deleteReservation(reservation.id)">Eliminar</button></td>
      </tr>

    </tbody>
  </table>

</div>
