<div class="card container col-md-6 text-center">
	<form [formGroup]="username">
	  	<div class="form-group mb-2">
			<label  *ngIf= "user">USERNAME: {{user.user_name}}</label>
	  	</div>
	  	<div class="form-group mx-sm-3 mb-2">
			<input formControlName="user_name" type="text" class="form-control" id="inputPassword1" placeholder="New Username" i18n-placeholder>
	  	</div>
	  	<button type="button" class="btn btn-primary mb-2" (click)="changeUsername()" i18n>Change</button>
	</form>

	<br>

	<form [formGroup]="email">
	  	<div class="form-group mb-2">
			<label for="staticEmail2" *ngIf= "user">MAIL: {{user.email}}</label>
	  	</div>
	  	<div class="form-group mx-sm-3 mb-2">
			<input formControlName ="email" [class.is-invalid]="email.get('email').touched && email.get('email').invalid" type="text" class="form-control" id="inputPassword2" placeholder="New email" i18n-placeholder>
	  	</div>
	  	<button type="button" class="btn btn-primary mb-2" (click)="changeMail()" i18n>Change</button>
	</form>

	<br>

	<form [formGroup]="password">
	  	<div class="form-group mb-2">
			<label for="staticEmail2" i18n>Change Password</label>
	  	</div>
	  	<div class="form-group mx-sm-3 mb-2">
			<input formControlName ="password" [class.is-invalid]="password.get('password').touched && password.get('password').invalid" type="password" class="form-control" id="inputPassword3" placeholder="New Password" i18n-placeholder>
	  	</div>
	  	<div class="form-group mx-sm-3 mb-2">
			<input formControlName ="password2" [class.is-invalid]="password.get('password2').touched && password.get('password2').invalid" type="password" class="form-control" id="inputPassword5" placeholder="Confirm  Password" i18n-placeholder>
	  	</div>
	  	<button type="button" class="btn btn-primary mb-2" (click)="changePass()" i18n>Change</button>
	</form>
</div>
