<!-- <div class="container col-md-4 text-center">
	<form class="text-center" [formGroup]>
		<div class="form-group row">
			<label for="colFormLabelLg1" class="col-sm-2 col-form-label col-form-label-lg" i18n>Monto</label>
			<input type="number" [(ngModel)]="amount" [ngModelOptions]="{ standalone: true }" step="any" class="form-control form-control-lg text-center" id="colFormLabelLg1" placeholder="$$$$$$">
		</div>
	  	<div class="form-group row">
			<label for="colFormLabelLg2" class="col-sm-2 col-form-label col-form-label-lg" i18n>Email</label>
		  	<input type="email" [(ngModel)]="origin" [ngModelOptions]="{ standalone: true }" class="form-control form-control-lg text-center" id="colFormLabelLg2" placeholder="Email" required autofocus i18n-placeholder>
	  	</div>
	 	<div class="form-group row">
			<button class="btn btn-lg btn-primary btn-block" type="submit" (click)="send()" i18n>Send</button>
		</div>
  	</form>
</div> -->

<div class="container mt-4">
  <h1>Aparta tu aula</h1>

  <div class="form-aula mt-5 row">

    <form class="col-6 row">

      <div class="form-group col-6">
        <label class="form-label" for="">Selecciona la clase</label>
        <select class="custom-select form-control" id="classroom">
          <option value="">-------------------</option>
          <option *ngFor="let classroom of classrooms" [value]="classroom.id">{{classroom.name}}</option>
        </select>
      </div>

      <div class="form-group col-6">
        <label class="form-label" for="">Selecciona un día</label>
        <input class="form-control" type="date" id="date" name="">
      </div>

      <div class="form-group col-6">
        <label class="form-label" for="">Selecciona una hora de inicio</label>
        <input class="form-control" type="time" id="start_time" name="">
      </div>

      <div class="form-group col-6">
        <label class="form-label" for="">Selecciona una hora de fin</label>
        <input class="form-control" type="time" id="end_time" name="">
      </div>

      <div class="form-group col-12">
        <label class="form-label" for="">Descripción</label>
        <input class="form-control" type="text" id="description" name="">
      </div>

      <button type="submit" class="btn btn-primary col-12">Guardar</button>

    </form>

    <div id="caracteristicasAula" class="col-6">
      <legend>Características de la clase</legend>
      <p>Aquí se mostrarán las caracteríscticas de la case una vez que hayas seleccionado alguna</p>
    </div>

  </div>

</div>